@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0,0,0;
  --background-end-rgb: 0,0,0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0,0,0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden;
  ::-webkit-scrollbar {
    display: none;
}
}

.attributeSection{
  color: #ffffff69;
}

.SearchSection{
  color: #ffffffbe;
}
.MapSection{
  height: 5%;
}
.help{
  color: white;
}
